vscode/
.idea/

./obsidian/

webserv
obj/

.DS_Store

env_variables.log
test_file.log

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Debugging artifacts
*.dSYM

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode/*
!.vscode/launch.json
!.vscode/tasks.json

!.devcontainer/**/**.*