html
{
	margin: 0;
	padding: 0;
	background-image: url(./assets/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	backdrop-filter: blur(100px);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: white;
	overflow-y: hidden;
}

.app
{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #29292954;
	backdrop-filter: blur(10px);
	width: 70vmin;
	border-radius: 10%;
}

.app .btn
{
	border-radius: 50%;
	width: 50vmin;
	height: 50vmin;
	background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
	animation: rotate 10s linear infinite;
	box-shadow: 0 0 30px 5px #6a11cb;
}

@keyframes rotate
{
	from
	{
		transform: rotate(0deg);
	}
	to
	{
		transform: rotate(360deg);
	}
}